$color: #EF9508;

p {
    background: rgba(188, 115, 0, 0.3);
    text-align: center;
    cursor: pointer;

    border-radius: 2rem;

    border: 0.15rem solid rgba(188, 115, 0, 1);

    &:hover {
        background: rgba(188, 115, 0, 0.4);
    }

}

.btn {
    border: 0.1rem solid $color;
    background: none;
    padding: 0.3rem 1rem;
    transition: 250ms;
    position: relative;
    overflow: hidden;
    color: $color;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: $color;
        z-index: -1;

        bottom: -0.1rem;
        border-radius: 50% 50% 0 0;

        transition: 250ms;
    }

    &:hover {
        color: #ffffff;
    }

    &:hover::before {
        height: 200%;
    }

}